.chat-side-bar {
  padding: 10px 20px;
  border-right: 1px solid var(--gray-200);
  height: 100%;

  .new-chat {
    width: 100%;
    @include flexRow(center, space-between);
    cursor: pointer;
    height: 50px;
    border: 2px solid var(--violet-600);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .heading {
    @include variableFont(14px, 600, 20px);
  }

  .chat-list {
    width: 100%;
    padding-top: 10px;
    height: calc(100vh - 200px);
    overflow-y: auto;

    li {
      background-color: var(--violet-100);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
      padding: 10px;
      border-radius: 5px;
      @include flexRow(center, flex-start);
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--violet-400);
        color: var(--violet-25);
        font-weight: 600;
      }

      &.active {
        background-color: var(--violet-600);
        color: var(--violet-100);
        font-weight: 600;
      }
    }
  }
}
